.Card {
  color: #000;
  box-shadow: 4px 4px 24px 0 #fafafa, -4px -4px 12px 0 #a3b1e6;
  border-radius: 10px;
}

.Card.light {
  background-color: '#e0e5ec';
  box-shadow: 4px 4px 24px 0 #fafafa, -4px -4px 12px 0 #a3b1e6;
}

.Card.dark {
  color: #fff;
  background-color: #255763;
  box-shadow: 4px 4px 24px #2e6d7c, -4px -4px 8px #1c414a;
}

.Card.xdark {
  color: #fff;
  background-color: #0a0a0a;
  box-shadow: 4px 4px 44px #040404, -4px -4px 8px #060606;
}

.Card.Inset {
  background-color: '#E0E5EC';
  box-shadow: inset 5px 5px 12px 0 #a3b1e6, inset -5px -5px 15px 0 #fafafa !important;
}

.Card.light.Inset {
  box-shadow: inset 5px 5px 12px 0 #a3b1e6, inset -5px -5px 15px 0 #fff !important;
}

.Card.dark.Inset {
  color: #fff;
  background-color: #255763;
  box-shadow: inset 4px 4px 24px #1a3e46, inset -4px -4px 8px #307080 !important;
}

.Card.xdark.Inset {
  color: #fff;
  background-color: #0a0a0a;
  box-shadow: inset 4px 4px 14px #0a0a0a, inset -4px -4px 18px #010101 !important;
}
